version: '3'
services:
  task-api:
    image: ${HUBACCOUNT}/task-api-${GROUP}
    build: ./service-task-api
    environment:
      - DB_URL=mongodb://mongo/tasks
      - ENABLE_CORS=true
    ports: 
      - "4200:4200"
  frontend:
    image: ${HUBACCOUNT}/frontend-${GROUP}
    build: ./service-frontend
    ports: 
      - "4300:4300"
  mongo:
    image: ${HUBACCOUNT}/mongo-${GROUP}
    build: ./service-mongo
    volumes:
      - mongo-data:/data/db
volumes:
  mongo-data:
  