apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: task-api
spec:
  replicas: 1
  selector:
    matchLabels:
      run: task-api
  template:
    metadata:
      labels:
        run: task-api
    spec:
      containers:
        - name: task-api
          image: ${HUBACCOUNT}/task-api-${USERNAME}
          ports:
            - containerPort: 4200
              protocol: TCP
          env:
            - name: DB_URL
              value: mongodb://${USERNAME}:${PASSWORD}@cluster0-shard-00-00-ryvxn.mongodb.net:27017,cluster0-shard-00-01-ryvxn.mongodb.net:27017,cluster0-shard-00-02-ryvxn.mongodb.net:27017/${USERNAME}?ssl=true&replicaSet=Cluster0-shard-0&authSource=admin
---
apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      run: frontend
  template:
    metadata:
      labels:
        run: frontend
    spec:
      containers:
        - name: frontend
          image: ${HUBACCOUNT}/frontend-${USERNAME}
          ports:
            - containerPort: 4300
              protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  name: task-api
  labels:
    run: task-api
spec:
  ports:
  - port: 80
    targetPort: 4200
    protocol: TCP
  selector:
    run: task-api
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
  labels:
    run: frontend
spec:
  ports:
  - port: 80
    targetPort: 4300
    protocol: TCP
  selector:
    run: frontend
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: task-app
spec:
  rules:
    - host: tasks-${USERNAME}.k8s.me
      http:
        paths:
          - backend:
              serviceName: task-api
              servicePort: 80
            path: /api
          - backend:
              serviceName: frontend
              servicePort: 80
            path: /