.logo { 
  font-size: 72px; 
  color: darkblue; 
}
.container {
  max-width: 800px;
}
.done {
  text-decoration: line-through;
}
.custom-control-label {
  margin-left: 8px;
  padding-top: 1px;
}
.delete {
  float: right;
  font-size: 1.3em;
  padding-top: 4px;
  color: lightgrey;
}
.delete:hover {
  color: red;
  cursor: pointer;
}